@using System.Globalization
@using System.Text.RegularExpressions
@model PortalCatolico.Models.IgrejaMissaViewModel

@{
    ViewData["Title"] = "Igrejas e Missas";
}

<div class="main-missas">

    <div class="anuncio-resultado-evento" style="margin-top: -120px;">
        <div class="">
            <img src="~/css/Images/Drogaria.png">
        </div>
        <div class="">
            <img src="~/css/Images/Calcitran.png">
        </div>
    </div>

    <div class="filtro-missas">

        <div class="titulo-form poppins-regular">
            <h2>Pesquisar Igrejas e missas</h2>
        </div>

        <div class="formpai pesquisaMissa conteiner mt-3 pt-2 border p-4 bg-light poppins-regular w-auto mx-auto">
            <form asp-action="BuscarIgrejaPorId" asp-controller="Igreja" method="post">
                <div class="row mt-4">
                    <div class="col-sm-2">
                        <label for="Estado">Estado*</label>
                        <select id="Estado" class="campoform botaogps form-control" name="Estado" required>
                            <option value="" disabled selected></option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <label for="Cidade">Cidade*</label>
                        <select id="Cidade" class="campoform botaogps form-control" name="Cidade" required>
                            <option value="" disabled selected></option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <label for="Bairro">Bairro*</label>
                        <select id="Bairro" class="campoform botaogps form-control" name="Bairro" required>
                            <option value="" disabled selected></option>
                        </select>
                    </div>
                    <div class="col-sm-12 pt-4">
                        <label for="Igreja">Igreja</label>
                        <select id="Igreja" class="campoform botaogps form-control" name="Igreja">
                            <option value="" disabled selected></option>
                        </select>

                        <button type="button" id="buscar"
                                class="buscar botaogps btn btn-primary mt-5 mb-4">
                            Buscar
                        </button>

                        @* <button type="button" class="botaogps pesqgps btn btn-outline-primary mt-5 mb-4">
                        Pesquisar por minha localização atual
                        <i class="fas fa-location"></i>
                        </button> *@
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="search-results">
        <h2 class="poppins-medium titulo-result-page">Resultado da pesquisa</h2>

        @* Exibe card para uma igreja específica *@
        @if (Model.Igreja != null)
        {
            <div class="conteudo-card">
                <h3 class="titulo-card-igreja poppins-medium">@Model.Igreja.NomeIgreja</h3>
                <div class="dados-card">
                    <div id="card-endereco">
                        <h5 class="poppins-medium card-title-endereco">Informações da igreja</h5>
                        <div class="endereco-e-botao">
                            <p class="poppins-medium">
                                @Model.Igreja.Logradouro - @Model.Igreja.Bairro - @Model.Igreja.Cidade,
                                @Model.Igreja.Estado<br>
                                @Model.Igreja.Telefone<br>
                            </p>
                            <a id="btn-view-in-map" class="btn-ver-mapa poppins-semibold btn btn-primary"
                               href="https://www.google.com/maps/search/?api=1&query=@(Model.Igreja.Logradouro), @(Model.Igreja.Bairro), @(Model.Igreja.Cidade), @(Model.Igreja.Estado)"
                               target="_blank">
                                Ver no mapa
                                <i class="icone-btn-ver-mapa fas fa-location"></i>
                            </a>
                        </div>
                    </div>
                    <div id="card-missas">
                        <h5 class="poppins-medium card-title-missas">Missas</h5>
                        @if (Model.Igreja.Missas != null && Model.Igreja.Missas.Any())
                        {
                            var missasAgrupadas = Model.Igreja.Missas
                            .GroupBy(m => m.DiaSemana)
                            .ToDictionary(g => g.Key, g => g.Select(m => m.Hora).OrderBy(h => h).ToList());

                            foreach (var grupo in missasAgrupadas)
                            {
                                <p class="poppins-medium lh-1">
                                    <span class="poppins-semibold">@grupo.Key:</span> @string.Join(", ", grupo.Value)
                                </p>
                            }
                        }
                        else
                        {
                            <p class="poppins-medium">Nenhuma missa cadastrada</p>
                        }
                    </div>
                </div>
            </div>
        }

        @* Exibe cards para múltiplas igrejas *@
        else if (Model.Igrejas != null && Model.Igrejas.Count > 0)
        {
            @foreach (var igreja in Model.Igrejas)
            {
                <div class="conteudo-card">
                    <h3 class="titulo-card-igreja poppins-medium">@igreja.NomeIgreja</h3>
                    <div class="dados-card">
                        <div id="card-endereco">
                            <h5 class="poppins-medium card-title-endereco">Informações da igreja</h5>
                            <div class="endereco-e-botao">
                                <p class="endereco poppins-medium">
                                    @igreja.Logradouro - @igreja.Bairro - @igreja.Cidade, @igreja.Estado<br>
                                    @igreja.Telefone<br>
                                </p>
                                <a id="btn-view-in-map" class="btn-ver-mapa poppins-semibold btn btn-primary"
                                   href="https://www.google.com/maps/search/?api=1&query=@(igreja.Logradouro), @(igreja.Bairro), @(igreja.Cidade), @(igreja.Estado)"
                                   target="_blank">
                                    Ver no mapa
                                    <i class="icone-btn-ver-mapa fas fa-location"></i>
                                </a>
                            </div>
                        </div>
                        <div id="card-missas">
                            <h5 class="poppins-medium card-title-missas">Missas</h5>
                            @if (igreja.Missas != null && igreja.Missas.Any())
                            {
                                var missasAgrupadas = igreja.Missas
                                .GroupBy(m => m.DiaSemana)
                                .ToDictionary(g => g.Key, g => g.Select(m => m.Hora).OrderBy(h => h).ToList());

                                foreach (var grupo in missasAgrupadas)
                                {
                                    <p class="poppins-medium lh-1">
                                        <span class="poppins-semibold">@grupo.Key:</span> @string.Join(", ", grupo.Value)
                                    </p>
                                }
                            }
                            else
                            {
                                <p class="poppins-medium">Nenhuma missa cadastrada</p>
                            }

                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert-nenhuma poppins-medium">
                <p class="nenhuma poppins-regular">Nenhuma igreja encontrada com os critérios informados.</p>
            </div>
        }

        <p class="link-cadastre-aqui poppins-medium">
            Não encontrou sua igreja? <a href="@Url.Action("Create", "Igreja")"
                                         class="link-cadastre-aqui-resultados">Cadastre aqui</a>
        </p>
    </div>
</div>