@model IEnumerable<PortalCatolicoBrasil.Models.Igreja>

<div class="main-missas">
    <button type="button" id="new-search-btn" class="poppins-semibold btn btn-outline-primary border-2 mb-3 hidden">Nova Pesquisa</button>
    <div id="filter" class="hidden">
        <div class=" poppins-regular">
            <h3>Pesquisar Igrejas e missas</h3>
        </div>
        <div class="formpai pesquisaMissa conteiner mt-3 pt-2 border p-4 bg-light poppins-regular">
            <form asp-action="BuscarIgrejaPorId" asp-controller="Igreja" method="post" onsubmit="validarFormularioPesquisa()">
                <div class="row mt-4">
                    <div class="col-sm-2">
                        <label for="Estado">Estado*</label>
                        <select id="Estado" class="campoform botaogps form-control" name="Estado" onchange="carregarCidades()" required>
                            <option value="" disabled selected></option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <label for="Cidade">Cidade*</label>
                        <select id="Cidade" class="campoform botaogps form-control" name="Cidade" onchange="carregarBairros()" required>
                            <option value="" disabled selected></option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <label for="Bairro">Bairro</label>
                        <select id="Bairro" class="campoform botaogps form-control" name="Bairro" onchange="carregarIgrejaPorBairro()">
                            <option value="" disabled selected></option>
                        </select>
                    </div>
                    <div class="col-sm-12 pt-4">
                        <label for="Igreja">Igreja</label>
                        <select id="Igreja" class="campoform botaogps form-control" name="Igreja">
                            <option value="" disabled selected></option>
                        </select>

                        <button type="button" id="botaoBuscar" class="buscar botaogps btn btn-primary mt-5 mb-4">Buscar</button>

                        <button type="button" class="botaogps pesqgps btn btn-outline-primary mt-5 mb-4">
                            Pesquisar por minha localização atual
                            <i class="fas fa-location"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    @* <div>
        Aparecerão aqui as igrejas que você selceionar no filtro...
    </div> *@

    <div id="search-results">
        @if (Model != null && Model.Any())
        {
            @foreach (var igreja in Model)
            {

                <h2 class="poppins-medium titulo-result-page">Resultado da pesquisa</h2> @*titulo da página*@
                <div class="conteudo-card">
                    @*div que contem todo o conteudo do card*@
                    <h3 class="titulo-card-igreja poppins-medium ">@igreja.NomeIgreja</h3>@* card-title *@
                    <div class="dados-card">
                        @*div que contem todo o conteudo de info e missas*@
                        <div id="card-endereco">
                            @* class="card-body col-sm-8" *@
                            <h5 class="poppins-medium card-title-endereco">Informações da igreja</h5>@* card-title *@
                            <div class="endereco-e-botao">
                                <p class="poppins-medium">
                                    @igreja.Logradouro, @igreja.Numero - @igreja.Bairro - @igreja.Cidade, @igreja.Estado<br>
                                    @igreja.Telefone<br>
                                </p>

                                <button onclick="abrirMapa('@igreja.Logradouro, @igreja.Numero, @igreja.Bairro, @igreja.Cidade, @igreja.Estado')" class="btn-ver-mapa poppins-semibold btn btn-primary">
                                    Ver no mapa
                                    <i class="icone-btn-ver-mapa fas fa-location"></i>
                                </button>
                            </div>
                            @* <button href="https://maps.google.com/?q=@igreja" target="_blank" class="btn-ver-mapa poppins-regular btn btn-primary">
                            Ver no mapa
                            <i class="fas fa-location"></i>
                            </button> *@
                        </div>
                        <div id="card-missas">
                            @* class="card-body col-sm-4" *@
                            <h5 class="poppins-mediumcard-title-missas">Missas</h5>  @* card-title *@
                            <p class="poppins-medium">
                                07:00 - Domingo<br>
                                12:00 - Quarta-feira<br>
                                19:30 - Domingo<br>
                                12:00 - Celebração da palavra<br>
                                12:00 - Celebração da palavra
                            </p>
                        </div>
                    </div>
                </div>
@*                 <div class="card-dados-igreja"> card principal
                     card mb-3 d-flex flex-md-row 
                    
                </div> *@
            }

            <p class="link-cadastre-aqui poppins-medium">Não encontrou sua igreja? <a href="@Url.Action("Create", "Igreja")" class="link-cadastre-aqui-resultados">Cadastre aqui</a></p>
        }
        else
        {
            <p>@ViewBag.Message</p>
        }
    </div>
</div>