@using System.Globalization
@model PortalCatolicoBrasil.Models.IgrejaMissaViewModel

@{
    ViewData["Title"] = "Igrejas e Missas";
}

<div class="main-missas">
    <div class="anuncio-resultado-missa rounded row poppins-regular">
        <div class="Drog col-sm-6">
            <img src="~/css/Images/Drogaria.png">
        </div>
        <div class="Calc col-sm-6">
            <img src="~/css/Images/Calcitran.png">
        </div>
    </div>

    <div id="search-results">
        <h2 class="poppins-medium titulo-result-page">Resultado da pesquisa</h2>

        @* Exibe card para uma igreja específica *@
        @if (Model.Igreja != null)
        {
            <div class="conteudo-card">
                <h3 class="titulo-card-igreja poppins-medium">@Model.Igreja.NomeIgreja</h3>
                <div class="dados-card">
                    <div id="card-endereco">
                        <h5 class="poppins-medium card-title-endereco">Informações da igreja</h5>
                        <div class="endereco-e-botao">
                            <p class="poppins-medium">
                                @Model.Igreja.Logradouro - @Model.Igreja.Bairro - @Model.Igreja.Cidade, @Model.Igreja.Estado<br>
                                @Model.Igreja.Telefone<br>
                            </p>
                            <button onclick="abrirMapa('@Model.Igreja.Logradouro, @Model.Igreja.Bairro, @Model.Igreja.Cidade, @Model.Igreja.Estado')" class="btn-ver-mapa poppins-semibold btn btn-primary">
                                Ver no mapa
                                <i class="icone-btn-ver-mapa fas fa-location"></i>
                            </button>
                        </div>
                    </div>
                    <div id="card-missas">
                        <h5 class="poppins-medium card-title-missas">Missas</h5>
                        @if (Model.Igreja.Missas != null && Model.Igreja.Missas.Any())
                        {
                            @foreach (var missa in Model.Igreja.Missas)
                            {
                                <p class="poppins-medium lh-1">
                                    @missa.Hora - @missa.DiaSemana<br>
                                </p>
                            }
                        }
                        else
                        {
                            <p class="poppins-medium">Nenhuma missa cadastrada</p>
                        }
                    </div>
                </div>
            </div>
        }

        @* Exibe cards para múltiplas igrejas *@
        else if (Model.Igrejas != null && Model.Igrejas.Count > 0)
        {
            @foreach (var igreja in Model.Igrejas)
            {
                <div class="conteudo-card">
                    <h3 class="titulo-card-igreja poppins-medium">@igreja.NomeIgreja</h3>
                    <div class="dados-card">
                        <div id="card-endereco">
                            <h5 class="poppins-medium card-title-endereco">Informações da igreja</h5>
                            <div class="endereco-e-botao">
                                <p class="poppins-medium">
                                    @igreja.Logradouro - @igreja.Bairro - @igreja.Cidade, @igreja.Estado<br>
                                    @igreja.Telefone<br>
                                </p>
                                <button type="submit" onclick="abrirMapa('@igreja.Logradouro, @igreja.Bairro, @igreja.Cidade, @igreja.Estado')" class="btn-ver-mapa poppins-semibold btn btn-primary">
                                    Ver no mapa
                                    <i class="icone-btn-ver-mapa fas fa-location"></i>
                                </button>
                            </div>
                        </div>
                        <div id="card-missas">
                            <h5 class="poppins-medium card-title-missas">Missas</h5>
                            @if (igreja.Missas != null && igreja.Missas.Any())
                            {
                                @foreach (var missa in igreja.Missas)
                                {
                                    <p class="poppins-medium lh-1">
                                        @missa.Hora - @missa.DiaSemana<br>
                                    </p>
                                }
                            }
                            else
                            {
                                <p class="poppins-medium">Nenhuma missa cadastrada</p>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Nenhuma igreja encontrada com os critérios informados.</p>
        }

        <p class="link-cadastre-aqui poppins-medium">Não encontrou sua igreja? <a href="@Url.Action("Create", "Igreja")" class="link-cadastre-aqui-resultados">Cadastre aqui</a></p>
    </div>
</div>